/bin
/src/SQLiteManager/obj
/src/SQLiteManager.Core/obj
/src/SQLiteManager.Tests/obj
/src/Backup
/src/_UpgradeReport_Files
/src/UpgradeLog.htm
/src/UpgradeLog.XML
src/SQLiteManager.v11.suo
*.user
src/SQLiteManager.Core/StyleCopViolations.xml
src/SQLiteManager/SQLiteManager.OpenCover.Settings
src/SQLiteManager.Core/StyleCop.Cache
src/SQLiteManager.Core/SQLiteManager.Core.OpenCover.Settings
